$color-white: #ffffff;
$color-black: #000000;
$color-blue: #0465c4;
$color-green: #00975a;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import "reset.css";

@mixin bg-gradient {
  background: rgb(41, 67, 105);
  background: linear-gradient(90deg, rgba(41, 67, 105, 1) 0%, rgba(31, 103, 175, 1) 100%);
}

@mixin button {
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  color: $color-white;
  display: inline-block;
}

@mixin button_blue {
  @include button;
  background: rgb(19, 157, 225);
  background: linear-gradient(180deg, rgba(19, 157, 225, 1) 0%, rgba(0, 54, 116, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(19, 157, 225, 1) 0%, rgba(0, 54, 116, 1) 100%);
  }
}

@mixin button_green {
  @include button;
  background: rgb(0, 83, 46);
  background: linear-gradient(180deg, rgba(0, 83, 46, 1) 0%, rgba(0, 190, 153, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 83, 46, 1) 0%, rgba(0, 190, 153, 1) 100%);
  }
}

@mixin button_violet {
  @include button;
  background: rgb(99, 49, 103);
  background: linear-gradient(180deg, rgba(99, 49, 103, 1) 0%, rgba(210, 154, 211, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(99, 49, 103, 1) 0%, rgba(210, 154, 211, 1) 100%);
  }
}

@mixin button_black {
  @include button;
  background: rgb(159, 159, 159);
  background: linear-gradient(180deg, rgba(159, 159, 159, 1) 0%, rgba(52, 52, 52, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(159, 159, 159, 1) 0%, rgba(52, 52, 52, 1) 100%);
  }
}

body {
  @include bg-gradient;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.containerFluid {
  width: 100%;
}

.hide {
  display: none;
}

.header {
  background: $color-white;
  text-align: right;
}

.footer {
  margin-top: 50px;
  padding: 20px 50px;

  .info {
    color: $color-white;
  }
}

.logo {
  width: 100%;
  max-width: 100px;
}

.content {
  padding-top: 50px;
}

.mainPage {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 50px;
}

.intro {
  width: 70%;
  color: $color-white;
  padding-left: 50px;

  h1 {
    font-size: 6em;
    font-weight: bold;
    line-height: 1.5em;
  }

  h2 {
    font-size: 5em;
    font-weight: bold;
    line-height: 2em;
  }

  h4 {
    font-size: 2em;

  }
}

.brain {
  width: 30%;

  &Img {
    width: 100%;
    max-width: 640px;
  }
}

.startButton {
  @include button_blue;
  margin-top: 50px;
  text-decoration: none;
  font-size: 1.6em;
}

.pageTitle {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  color: $color-white;
  text-align: center;
}

.patients {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.patient {
  width: calc(20% - 20px);
  border-radius: 5px;
  background: rgb(10, 37, 64);
  background: linear-gradient(0deg, rgba(10, 37, 64, 1) 0%, rgba(14, 50, 86, 1) 100%);
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0 0 10px 0;
  box-shadow: 3px 6px 5px 0 rgba(0,0,0,0.5);
}

.patient:first-of-type {
  margin: 10px 10px 10px 20px;
}

.patient:last-of-type {
  margin: 10px 20px 10px 10px;
}

.patientImgWrapper {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: #0a2540;
  background: linear-gradient(180deg, #0a2540 0%, #0e3256 100%);
  text-align: center;
  border: 3px solid #ffffff;
  position: relative;
  margin: auto;
}

.patientImgItem {
  position: absolute;
  top: -36px;
  z-index: 99;
  right: -1px;
}

.patientName {
  padding: 15px 10px;
  font-weight: bold;
  color: $color-white;
}

.levelTitle {
  font-style: italic;
  color: $color-white;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}

.starItem {
  background: url("../img/star_opacity.png") no-repeat center;
  width: 21px;
  height: 21px;
}

.starItem.full {
  background: url("../img/star_white.png") no-repeat center;
}

.starItem.full:hover {
  transition: all 1s ease-out;
  background-size: contain;
}

.start {
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.start:hover {
  transform: scale(1.1);
}

.levelsTip{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.buttonTips{
  color: $color-white;
  font-size: 1em;
  text-align: center;
  padding: 50px 0 0 0;
  font-weight: bold;
}

.buttonsBlock{
  display: flex;
  justify-content: space-around;
  .startButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


