@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url(reset.css);
body {
  background: #294369;
  background: linear-gradient(90deg, #294369 0%, #1f67af 100%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.containerFluid {
  width: 100%; }

.hide {
  display: none; }

.header {
  background: #ffffff;
  text-align: right; }

.footer {
  margin-top: 50px;
  padding: 20px 50px; }
  .footer .info {
    color: #ffffff; }

.logo {
  width: 100%;
  max-width: 100px; }

.content {
  padding-top: 50px; }

.mainPage {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 50px; }

.intro {
  width: 70%;
  color: #ffffff;
  padding-left: 50px; }
  .intro h1 {
    font-size: 6em;
    font-weight: bold;
    line-height: 1.5em; }
  .intro h2 {
    font-size: 5em;
    font-weight: bold;
    line-height: 2em; }
  .intro h4 {
    font-size: 2em; }

.brain {
  width: 30%; }
  .brainImg {
    width: 100%;
    max-width: 640px; }

.startButton {
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  background: #139de1;
  background: linear-gradient(180deg, #139de1 0%, #003674 100%);
  margin-top: 50px;
  text-decoration: none;
  font-size: 1.6em; }
  .startButton:hover {
    background: linear-gradient(0deg, #139de1 0%, #003674 100%); }

.pageTitle {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  color: #ffffff;
  text-align: center; }

.patients {
  display: flex;
  justify-content: space-between;
  padding-top: 50px; }

.patient {
  width: calc(20% - 20px);
  border-radius: 5px;
  background: #0a2540;
  background: linear-gradient(0deg, #0a2540 0%, #0e3256 100%);
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0 0 10px 0;
  box-shadow: 3px 6px 5px 0 rgba(0, 0, 0, 0.5); }

.patient:first-of-type {
  margin: 10px 10px 10px 20px; }

.patient:last-of-type {
  margin: 10px 20px 10px 10px; }

.patientImgWrapper {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: #0a2540;
  background: linear-gradient(180deg, #0a2540 0%, #0e3256 100%);
  text-align: center;
  border: 3px solid #ffffff;
  position: relative;
  margin: auto; }

.patientImgItem {
  position: absolute;
  top: -36px;
  z-index: 99;
  right: -1px; }

.patientName {
  padding: 15px 10px;
  font-weight: bold;
  color: #ffffff; }

.levelTitle {
  font-style: italic;
  color: #ffffff; }

.stars {
  display: flex;
  justify-content: center;
  margin: 10px 20px; }

.starItem {
  background: url("../img/star_opacity.png") no-repeat center;
  width: 21px;
  height: 21px; }

.starItem.full {
  background: url("../img/star_white.png") no-repeat center; }

.starItem.full:hover {
  transition: all 1s ease-out;
  background-size: contain; }

.start {
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out; }

.start:hover {
  transform: scale(1.1); }

.levelsTip {
  display: flex;
  justify-content: space-around;
  padding: 20px 0; }

.buttonTips {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  padding: 50px 0 0 0;
  font-weight: bold; }

.buttonsBlock {
  display: flex;
  justify-content: space-around; }
  .buttonsBlock .startButton {
    display: flex;
    align-items: center;
    justify-content: space-between; }

/*# sourceMappingURL=styles.css.map */
