$color-white: #ffffff;
$color-black: #000000;
$color-blue: #0465c4;
$color-green: #00975a;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import "reset.css";

@mixin bg-gradient {
  background: rgb(41, 67, 105);
  background: linear-gradient(90deg, rgba(41, 67, 105, 1) 0%, rgba(31, 103, 175, 1) 100%);
}

@mixin button {
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  color: $color-white;
  display: inline-block;
}

@mixin button_blue {
  @include button;
  background: rgb(19, 157, 225);
  background: linear-gradient(180deg, rgba(19, 157, 225, 1) 0%, rgba(0, 54, 116, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(19, 157, 225, 1) 0%, rgba(0, 54, 116, 1) 100%);
  }
}

@mixin button_green {
  @include button;
  background: rgb(0, 83, 46);
  background: linear-gradient(180deg, rgba(0, 83, 46, 1) 0%, rgba(0, 190, 153, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 83, 46, 1) 0%, rgba(0, 190, 153, 1) 100%);
  }
}

@mixin button_violet {
  @include button;
  background: rgb(99, 49, 103);
  background: linear-gradient(180deg, rgba(99, 49, 103, 1) 0%, rgba(210, 154, 211, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(99, 49, 103, 1) 0%, rgba(210, 154, 211, 1) 100%);
  }
}

@mixin button_black {
  @include button;
  background: rgb(159, 159, 159);
  background: linear-gradient(180deg, rgba(159, 159, 159, 1) 0%, rgba(52, 52, 52, 1) 100%);
  &:hover {
    background: linear-gradient(0deg, rgba(159, 159, 159, 1) 0%, rgba(52, 52, 52, 1) 100%);
  }
}

//modal
$time: 320ms;
$ease: ease;
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ', '};
    }
  }

  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@mixin transition($val...) {
  transition: $val;
}
@mixin transform($val...) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}
.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modalButtonsItem {
  @include button;
  margin-right: 20px;
  font-size: 14px;

  .buttonItem {
    color: $color-white;
    min-width: 200px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    img{
      width: 40px;
    }
  }
}

.modalButtonsItem:nth-child(1) {
  @include button_blue;
  border-radius: 40px;
}

.modalButtonsItem:nth-child(2) {
  @include button_green;
  border-radius: 40px;
}

.modalButtonsItem:nth-child(3) {
  @include button_violet;
  border-radius: 40px;
}

.modal-body {
  overflow: hidden;
  position: relative;

  &:before {
    position: fixed;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
  }

  &:before {
    @include animation(fadeIn $time $ease);

    @include transition(opacity $ease $time);
  }

  &.modal-fadeOut {
    &:before {
      opacity: 0;
    }
  }
}

.modal {
  @include transition(all $ease 0.01s);

  display: block;
  opacity: 0;
  height: 0;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.modal-visible {
    opacity: 1;
    height: auto;
    bottom: 0;
  }
}

.modal-inner {
  @include transition(all $ease $time);

  @include transform(translateY(-50px));

  position: relative;
  display: inline-block;
  background-color: #fff;
  width: 90%;
  max-width: 900px;
  opacity: 0;
  margin: 40px 0;
  border-radius: 4px;
  box-shadow: 0 30px 18px -20px rgb(2, 2, 2);

  &.modal-reveal {
    @include transform(translateY(0));
    opacity: 1;
  }
}

.js-close-modal {
  transition: color 320ms ease;
  color: $color-white;

  position: absolute;
  z-index: 2;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  background: $color-blue;
  border-radius: 50%
}

.js-close-modal:hover {
  color: #000;
}

button {
  @include transition(all $time $ease);
  border: none;
  background: none;
}

button:active{
  border: none;
  outline: none;
}
button:focus{
  border: none;
  outline: none;
}

.modal-content {
  padding: 50px 15px 15px 15px;

  h3 {

    font-weight: bold;
    font-size: 20px;
  }

  h3.blue {
    color: $color-blue;
  }

  h3.green {
    color: $color-green;
  }

  .modalContentContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    b, strong {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    ul {
      padding-left: 40px;
      list-style: disc;
      text-align: left;
    }

    li {
      margin-bottom: 10px;
    }

    img {
      width: 100%;
    }

    .leftSide, .rightSide {
      width: 50%;
    }

    .fullWidth {
      width: 100%;
    }
  }
}

//modalEnd

body {
  @include bg-gradient;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.containerFluid {
  width: 100%;
}

.hide {
  display: none;
}

.header {
  background: $color-white;
  text-align: right;
}

.footer {
  margin-top: 50px;
  padding: 20px 50px;

  .info {
    color: $color-white;
  }
}

.logo {
  width: 100%;
  max-width: 100px;
}

.content {
  padding-top: 50px;
}

.mainPage {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 50px;
}

.intro {
  width: 70%;
  color: $color-white;
  padding-left: 50px;

  h1 {
    font-size: 6em;
    font-weight: bold;
    line-height: 1.5em;
  }

  h2 {
    font-size: 5em;
    font-weight: bold;
    line-height: 2em;
  }

  h4 {
    font-size: 2em;

  }
}

.brain {
  width: 30%;

  &Img {
    width: 100%;
    max-width: 640px;
  }
}

.startButton {
  @include button_blue;
  margin-top: 50px;
  text-decoration: none;
  font-size: 1.6em;
}

.pageTitle {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  color: $color-white;
  text-align: center;
}

.pageTitleWrapper {
  display: block;
  text-align: right;
  padding-right: 50px;
}

.homeLink {
  border: 1px solid $color-white;
  border-radius: 50%;
  box-shadow: 3px 6px 5px 0 rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
}

.homeLink:hover {
  transform: scale(1.1);
}

.patients {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.patient {
  width: calc(20% - 20px);
  border-radius: 5px;
  background: rgb(10, 37, 64);
  background: linear-gradient(0deg, rgba(10, 37, 64, 1) 0%, rgba(14, 50, 86, 1) 100%);
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0 0 10px 0;
  box-shadow: 3px 6px 5px 0 rgba(0, 0, 0, 0.5);
}

.patient:first-of-type {
  margin: 10px 10px 10px 20px;
}

.patient:last-of-type {
  margin: 10px 20px 10px 10px;
}

.patientImgWrapper {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: #0a2540;
  background: linear-gradient(180deg, #0a2540 0%, #0e3256 100%);
  text-align: center;
  border: 3px solid #ffffff;
  position: relative;
  margin: auto;
}

.patientImgItem {
  position: absolute;
  top: -36px;
  z-index: 99;
  right: -1px;
}

.patientName {
  padding: 15px 10px;
  font-weight: bold;
  color: $color-white;
}

.levelTitle {
  font-style: italic;
  color: $color-white;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}

.starItem {
  background: url("../img/star_opacity.png") no-repeat center;
  width: 21px;
  height: 21px;
}

.starItem.full {
  background: url("../img/star_white.png") no-repeat center;
}

.starItem.full:hover {
  transition: all 1s ease-out;
  background-size: contain;
}

.start {
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.start:hover {
  transform: scale(1.1);
}

.levelsTip {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.buttonTips {
  color: $color-white;
  font-size: 1em;
  text-align: center;
  padding: 50px 0 0 0;
  font-weight: bold;
}

.buttonsBlock {
  display: flex;
  justify-content: space-around;

  .startButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.contentItem {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

  .hero {
    width: 30%;

    .patient {
      width: 100%;
      background: none;
      box-shadow: none;
    }
  }

  .relapses {
    width: 70%;
  }

  .dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 5px;
    margin-right: 50px;
  }

  .insideDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-white;
  }
}

.bgLine {
  background: url(../img/bg_line.png) no-repeat 719px, linear-gradient(90deg, #294369 0%, #1f67af 100%);
  background-size: contain;
}

.relapseItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  .date {
    color: $color-white;
    width: 210px;
  }

  .date::first-letter{
    text-transform: uppercase;
  }

  .speachBuble {
    position: relative;
    display: flex;
    background: $color-white;
    color: $color-black;
    font-size: 16px;
    min-width: 250px;
    max-width: 640px;
    min-height: 20px;
    border-radius: 10px;
    padding: 10px;

    ul {
      list-style: disc;
      padding-left: 40px;
    }
  }

  .speachBuble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent $color-white;
    border-width: 10px 10px 10px 0;
    top: 50%;
    left: -10px;
    margin-top: -10px;
  }
}

.userIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
}

.userIconsTip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &Item {
    padding: 20px;
    color: $color-white;
    font-weight: bold;
    img{
      width: 40px;
      height: 40px;
    }
    p {
      text-align: center;
    }
  }
}

.clinicalReview{
  width: 60%;
  h3{
    color:$color-white;
    font-size: 24px;
    font-weight: bold;
  }
  .modalButtons{
    margin-top: 40px;
  }
}

.reviewItem{
  background: $color-white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  .reviewListItem{
    padding-left: 40px;
    list-style: disc;
    li{
      margin-bottom: 15px;
    }
  }
}

.answerPic{
  position: absolute;
  top: -20px;
  left: -20px;
}

.answerWrapper{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .answerItem{
    border-radius: 10px;
    background: $color-white;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    ul{
      list-style: disc;
      padding-left: 40px;
      li{
        padding: 5px 0;
      }
    }
  }
}

.navButtons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
  .buttonItem{
    @include button_black;
    margin-right: 15px;
    display: flex;
    align-items: center;
    img{
      width: 40px;
    }
  }
}

.catButtons{
  display: flex;
  flex-direction: column-reverse;
  padding-top: 50px;
  li{
    width: 100%;
    max-width: 360px;
    margin: 20px auto;
  }
}

